/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/.idea
/public/aero
*.log
public/etc/
public/node_modules/
public/static/assets/js/app.js*
public/static/assets/css
public/uploads
notification_app/node_modules
*.rdb
resources/assets/js/factories/PersonalConfigurationService.js
composer.lock
.DS_Store